body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 90%;
    color: #e9ebe1;
    background-color: #f8f8f8;
    background-image: url(poetrybg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 1.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
ul, li {
    margin-bottom: 25px;
    list-style-image: url("icon-plus.png");
    line-height: 1.6em;
    font-weight: bold;
}

table {
    border-spacing: 1px;
    width: 1300px;
    padding: 10px;
    height: 350px;
    margin: 30px;
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}
        
th, td {
    text-align: left;
    background-color: #484b45fb;
    border-top: 1px solid #bac0c3;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th {
    color: #fff;
    background-color: #5d5e5a;
    border-bottom: 2px solid #adb2b2;
    border-right: 1px solid #bec1c5;
    border-top: 1px solid #d1d5dd;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #464a40c1;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

fieldset {
    width: 310px;
    height: 333px;
    margin-left: 1000px;
    border: 1px solid #d6d6d6;
    background-color: #50554e;
    line-height: 3.5em;
    border: 4px rgb(44, 3, 79);
    float: bottom;
}

legend {
    font-style: italic;
    color: #f8f8f8;
    
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}

input[type="submit"] {
    border: 1px solid #111212;
    background-color: #95a098;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin: -1036px;
}

input[type="submit"]:hover {
    border: 1px solid #1f1f20;
    background-color: #436e85;
    color: #ffffff;
    cursor: pointer;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
    margin: -46px;
}